.checkbox {
    --font-size: 1rem;

    display: flex;
    gap: 6px;
    cursor: pointer;

    &.readonly {
        pointer-events: none;
    }

    &__label {
        font-size: var(--font-size, 1rem);
        color: var(--clr-6);
    }

    &__field {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid var(--clr-6);
        border-radius: 4px;

        &:before {
            position: absolute;
            content: '';
            background-image: url('/assets/img/icons/checkbox.svg');
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat no-repeat;
            display: block;
            transition: var(--speed);
            opacity: 0;
            visibility: hidden;
        }
    }
}

.checkbox.active {
    .checkbox__field:before {
        opacity: 1;
        visibility: visible;
    }
}

/*
    <div class="checkbox">
        <input type="hidden" value="0">
        <span class="checkbox__field"></span>
        <span class="checkbox__label">Запомнить меня</span>
    </div>
*/