<!--
    @@name - имя поля (заголовок)
    @@pls - плейсхолдер

    Классы:
    ait-start-today - отключает предыдущие даты
    air-time - включить время
    air-select-now - поставить текущую дату по умолчанию
    air-top - всплывашка с датами становиться сверху
    air-multi - выбор нескольких дат
-->
<div class="standart-input-date">
    @@if(context.name) {
    <span class="standart-input-date__name">@@name</span>
    }
    <input type="text" placeholder="@@if(context.pls) {@@pls} @@if(!context.pls) {Выберите дату}" />
</div>
